
/* - - - - Global styles - - - - */

	.parent_contain {
		padding-left:50px;
		padding-right:50px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		max-width:1600px;
		width: 100%;
	}
		.parent_contain.full_width {
			padding:0px;
		}
		
	.contain {
		position: relative;
	}
		.contain:after {
		  content: "";
		  display: table;
		  clear: both;
		}
	.clearfix {
		clear:both;
	}

	.float-inner {
		position: absolute;
		top: -27%;
		right: 0;
	}
		.float:after {
		  content: "";
		  display: block;
		  padding-top: 63%;
		}
		
/* - - - - Block styles - - - - */

	[class*='block-'] {
		position:relative;
		float:left;
		padding:0 0%;
		min-height:1px;
		display:block;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		-moz-background-clip:padding-box !important;
		-webkit-background-clip:padding-box !important;
		background-clip:padding-box !important;
		
		/* - - - - Block gutter defined here - - - - */
		padding-right:16px;
	}
		[class*='block-']:last-of-type {
			padding-right:0px;
		}
		[class*='block-'].fullbleed {
			padding-right:0px;
		}
		[class*='block-'] img, [class*='block-'] iframe {
			max-width:100%;
		}
		[class*='block-'] img {
			max-width:100%;
			height: auto;
		}
		.block-1,
		.block-2,
		.block-3 {
			width:50%;
		}
		.block-4,
		.block-5,
		.block-6 {
			width:100%;
		}

	@media screen and (min-width: 951px) {

		.block-1 {
			width:16.666%;
		}
		.block-2 {
			width:33.333%;
		}
		.block-3 {
			width:50%;
		}
		.block-4 {
			width:66.666%;
		}
		.block-5 {
			width:83.332%;
		}
		.block-6 {
			width:100%;
		}

		.push-1 {
			margin-left:16.666%;
		}
		.push-2 {
			margin-left:33.333%;
		}
		.push-3 {
			margin-left:50%;
		}
		.push-4 {
			margin-left:66.666%;
		}
		.push-5 {
			margin-left:83.332%;
		}
	}
	
	@media screen and (max-width:1200px) and (min-width:951px) {
		
	}
	@media screen and (max-width:950px) and (min-width:769px) {
		
	}
	@media screen and (max-width:768px) and (min-width:481px) {
		.parent_contain {
			padding-left:30px;
			padding-right:30px;	
		}
	}
	@media screen and (max-width:480px) {
		
		.parent_contain {
			padding-left:20px;
			padding-right:20px;	
		}
		[class*='block-'] {
			margin-left:0px;
			width:100%;
			padding-right:0px;
		}
	}